* {
    border: none;
    font-family: inter;
}
.mainHome, .busca form{
    display: flex;
    justify-content: center;
}
.mainHome {
    height: 80vh;
}
.caixaTitulo {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.caixaTitulo img {
    padding-right: 10px;
}
.cardPrincipal {
    width: 70%;
    margin: 5% 0 0 5%;
}
.busca form{
    flex-direction: column;
}
.acao {
    margin-bottom: 50px;
}
.acao h3, .busca h3 {
    color: black;
}
.acao button{
    width: 350px;
    height: 150px;
    font-size: 16px;
    border-radius: 16px;
    margin-right: 20px;
    cursor: pointer;
    color: #6FC2C6;
    background: white;
    border: 1px solid #6FC2C6;
}
.acao button:hover {
    color: white;
    background: #6FC2C6;
}
.busca input {
    width: 500px;
    height: 30px;
    margin: 0 20px 10px 0;
    border-radius: 8px;
    border: 1px solid #6FC2C6;
}
.busca button {
    width: 150px;
    height: 30px;
    border-radius: 8px;
    color: #F06000;
    border: 2px solid #F06000;
    background: white;
    cursor: pointer;
}
.busca button:hover {
    border: none;
    color: white;
    background: #F06000;
}
.camposPesquisa {
    display: flex;
    flex-direction: row;
}
.relatorios {
    width: 30%;
    margin: 5% 5% 0 0;
}
.caixaDados {
    height: 300px;
    width: 90%;
}
.quantiServico, .valorFaturado {
    height: 100px;
    display: flex;
    text-align: center;
    flex-direction: column;
    border-radius: 16px;
}
.quantiServico span, .valorFaturado span {
    font-size: 24px;
}
.quantiServico {
    color: white;
    margin-bottom: 20px;
    background: #4A8184;
}
.valorFaturado {
    color: #6FC2C6;
    border: 1px solid #4A8184;
}