.mainHeader, .campoUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}
.mainHeader {
    height: 70px;
    background: white;
}
.campoLogo img {
    width: 100%;
    max-width: 150px;
}
.campoUser {
    padding: 0;
}
.campoUser img {
    width: 100%;
    max-width: 40px;
}
.campoUser p {
    padding-left: 10px;
}